<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
<h2 th:text="#{welcome}">Welcome</h2>
<div class="login-box">
  <form class="form-login" action="/login" method="post">
    <div>
      <label th:for="username">ID</label>
      <input type="text" class="form-control" name="id" placeholder="Please enter your ID">
    </div>
    <div>
      <label th:for="password">Password</label>
      <input type="password" class="form-control" name="pw" placeholder="Please enter your Password">
    </div>
<!--    <a class="btn btn-primary" th:href="@{/login}">Sign up</a>-->
    <button class="btn btn-primary" th:href="@{/login}" type="submit" > Sign up</button>
  </form>
</div>
</body>

</html>

